
.avatar{
    width: 92px;
    height: 92px;
    position: relative;
    border-radius: 50%;
    border: 3px solid transparent;

    &:hover{
        border: 3px solid;
        border-color: #A6328D;
    }
    
}

.img{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 3px;
    left: 3px;
}

.username{
    margin-top: 16px;
}
