.user__list {
    display: flex;
    justify-content: space-between;

    .user__item {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.user__item--title {
    font-size: 12px;
}