.c-header {
    background-color: #FAFAFA;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    color: #292929;
    font-weight: bold;
    font-size: 29px;
}