.icons__list{
    width: 24px;
    height: 24px;
    display: flex;
    flex: 1;

}

.title{
margin-right: 883px ;
font-weight: bold;
font-size: 29px;
}

.icon__item {
margin-right: 24px;
cursor: pointer;

&:last-child{
    margin-right: 0;
}
}

.stories__list{
    display: flex;
    justify-content: space-between;
}

.inner__content{
    border-radius: 10px;
    border: 1px solid;
    padding: 24px 20px;
    margin-top: 16px;
    border-color: #F1F1F1;
    -webkit-box-shadow: 34px 0px 67px 100px rgba(241, 241, 241, 0.2);
    -moz-box-shadow: 34px 0px 67px 100px rgba(241, 241, 241, 0.2);
    box-shadow: 34px 0px 67px 100px rgba(241, 241, 241, 0.2);
}

.about__title{
    font-size: 26px;
    font-weight: bold;
}