.header {
    padding-top: 45px ;
}

.hero__section {
    border-bottom: 1px solid #3C3C434A;
    background-color: #FAFAFA;
}

.about__section {
    margin-top: 32px;
}

.about__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__item {
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0px;
    }
}